body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.slider {
    position: relative;
    max-width: 100%;
    overflow: hidden;
}

.slides {
    display: flex;
    transition: transform 0.5s ease;
}

.slide {
    min-width: 100%;
}

img {
    width: 100%;
    height: auto;
    width: 30%;
    /* height: 50%; */
}

.image-name {
    position: absolute; /* Position absolute to overlay on image */
    /* top: 50%; */
    left: 50%;
    bottom: 1%;

    /* Adjust position to truly center */
    transform: translate(-50%, -50%); 

    color: white; /* Text color */
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    padding: 10px; /* Padding around text */
    border-radius: 5px; /* Rounded corners */
    text-align: center; /* Center text within the div */
}


button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(255, 255, 255, 0.7);
    border: none;
    cursor: pointer;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

.pagination {
    text-align: center;
}

.dot {
    display: inline-block;
    height: 15px;
    width: 15px;
    margin: 5px;
    background-color: #bbb;
    border-radius: 50%;
    cursor: pointer;
}

.active, .dot:hover {
    background-color: #717171;
}
