body {
  margin: 0;
  font-family: Arial, sans-serif;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider {
  position: relative;
  max-width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.slides {
  display: flex;

  /* Fix for images with smaller width */
  width: 100vw;
  transition: transform 0.5s ease;
}

.slide {
  min-width: 100%;

  /* positioning caption */
  position: relative;
}

img {
  width: 100%;
  height: auto;

  /* Limit height to 90% of viewport height for better visibility */
  max-height: 90vh;

  /* Cover the area without distortion */
  object-fit: cover;

  &:hover{
    cursor: pointer;
  }
}

.caption {
  /* overlay on slider image */
  position: absolute;
  left: 50%;
  bottom: 1%;

  /* Adjust position to truly center */
  transform: translate(-50%, -50%);

  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  font-size: 30px;

  /* width: 80%; */
}

button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(255, 255, 255, 0.7);
  border: none;
  cursor: pointer;
  font-size: 20px;
  padding: 10px;
  border: 1px solid gray;
  border-radius: 5px;
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
}

.pagination {
  text-align: center;

  /* This is for aligning play icon with dots */
  display: flex;
}

.dot {
  display: inline-block;
  height: 15px;
  width: 15px;
  margin: 5px;
  background-color: #bbb;
  border-radius: 50%;
  cursor: pointer;

}

/* active class is applied from script directly */
.active,
.dot:not(.active):hover {
  background-color: #717171;
}

/* Style for paused state with play icon */
.play {
  color: #5a5a5a;
  background: none;
}

/* R E S P O N S I V E - start */

@media only screen and (max-width: 600px) {
  img {
    height: 50vh;
    max-height: 50vh;
    object-fit: fill;
  }

  .caption {
    font-size: 15px;
    padding: 5px;
  }

  button {
    font-size: 16px;
    padding: 6px;
    width: auto;
    height: auto;
  }

  .dot {
    height: 10px;
    width: 10px;
    margin: 4px;

    &.play.active {
      margin-top: 0px;
    }
  }
}

/* Smallest Tablets in portrait mode */
@media only screen and (min-width: 601px) and (max-width: 768px) {
  img {
    height: 60vh;
    object-fit: contain;
  }

  .caption {
    font-size: 15px;
    padding: 5px;
  }

  button {
    font-size: 18px;
    padding: 8px;
  }

  .dot {
    height: 10px;
    width: 10px;
    margin: 4px;

    &.play.active {
      margin-top: 1px;
      padding-right: 2px;
    }
  }
}

/* Smallest Tablets in landscape mode and small laptops */
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  img {
    height: 80vh;
    object-fit: contain;
  }

  .caption {
    font-size: 16px;
    padding: 10px;
  }

  button {
    font-size: 20px;
    padding: 10px;
  }

  .dot {
    height: 12px;
    width: 12px;
    margin: 4px;

    &.play.active {
      margin-top: 2px;
      padding-right: 2px;
    }
  }
}

/* Laptops and desktosp (small screens) */
@media only screen and (min-width: 1025px) and (max-width: 1366px) {
  img {
    height: 80vh;
  }

  .caption {
    font-size: 20px;
  }

  button {
    font-size: 22px;
    padding: 12px;
  }
  
  .dot {
    height: 12px;
    width: 12px;
    margin: 4px;

    &.play.active {
      margin-top: 2px;
    }
  }
}

/* Large screens (laptops and desktosp) */
@media only screen and (min-width: 1367px) {
  img {
    height: 90vh;
  }

  .caption {
    padding: 14px;
  }

  button {
    font-size: 24px;
    padding: 14px;
  }
}

/* R E S P O N S I V E - end */
